# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Django stuff:
logs/
*.log
*.pot
var/
bizsite/settings_production.py
bizsite/settings_development.py
bizsite/wsgi.py

# Intellij
.idea/
greg.iml

venv/

*.zip
pics/
db.nsc
