{% extends 'web/base.html' %}

{% block title %}Contact{% endblock %}

{% block body_block %}
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Contact Us</h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a>
                </li>
                <li class="active">Contact Us</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-8">
            <!-- Embedded Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11474.123136515447!2d-93.2499213!3d44.0310899!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDTCsDAxJzUxLjkiTiA5M8KwMTQnNTUuOCJX!5e0!3m2!1sen!2sus!4v1451422546625" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>Contact Details</h3>
            <p>
                {{ settings.address_line1 }}<br>{{ settings.address_line2 }}<br>
            </p>
            {% if settings.contact_phone != "" %}
            <p><i class="fa fa-phone"></i>
                <abbr title="Phone">P</abbr>: {{ settings.contact_phone }}</p>
            {% endif %}
            <p><i class="fa fa-envelope-o"></i>
                <abbr title="Email">E</abbr>: <a href="mailto:name@example.com">{{ settings.contact_email }}</a>
            </p>
            <p><i class="fa fa-clock-o"></i>
                <abbr title="Hours">H</abbr>: {{ settings.posted_hours }}</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="{{ settings.facebook_address }}"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                {% if settings.linkedin_address != "" %}
                <li>
                    <a href="{{ settings.linkedin_address }}"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ settings.twitter_address }}"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <div class="row">
        <div class="col-md-8">
            <h3>Send us a Message</h3>
            <form name="sentMessage" id="contactForm" action="{% url 'send-message' %}" method="post" novalidate>
                {% csrf_token %}
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Full Name:</label>
                        <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Phone Number:</label>
                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Email Address:</label>
                        <input type="email" class="form-control" name="email" required data-validation-required-message="Please enter your email address.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Message:</label>
                        <textarea rows="10" cols="100" class="form-control" name="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </div>
{% endblock %}