{% extends 'web/base.html' %}

{% block title %}Home{% endblock %}

{% block header_block %}
    <!-- Header Carousel -->
   <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for img in images %}
                {% if forloop.counter == 1 %}
                <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}" class="active"></li>
                {% else %}
                <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}"></li>
                {% endif %}
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for img in images %}
                {% if forloop.counter == 1 %}
                <div class="item active">
                {% else %}
                <div class="item">
                {% endif %}
                    <div class="fill" style="background-image:url({{ MEDIA_URL }}/{{ img.carousel_image }});"></div>
                    <div class="carousel-caption">
                        <h2>{{ img.caption }}</h2>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
{% endblock %}

{% block body_block %}
    <div class="row">
        <h2>Northern Summit Construction</h2>
        <p>{{ featureText }}</p>
    </div>
{% endblock %}

{% block script_block %}
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
{% endblock %}