{% extends 'web/base.html' %}

{% block title %}Project Detail{% endblock %}

{% block body_block %}
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ project.title }}</h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li class="active">{{ project.name }}</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <div id="project-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#project-carousel" data-slide-to="0" class="active"></li>
                    {% for img in images %}
                        <li data-target="#project-carousel" data-slide-to="{{ forloop.counter }}"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive" src="{{ MEDIA_URL }}/{{ project.beauty_shot }}" alt="">
                    </div>
                    {% for img in images %}
                        <div class="item">
                            <img class="img-responsive" src="{{ MEDIA_URL }}/{{ img.image }}" alt="">
                        </div>
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#project-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#project-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <h3>{{ project.name }}</h3>
            {% for description in descriptions %}
            <p>{{ description.paragraph }}</p>
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block script_block %}
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
{% endblock %}